main{
    margin: 15vh 20vh 5vh 20vh;

    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.selection-dropbox{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.selection-dropbox .option-button-block .select-block{
    width: 100%;
}

.table-container{
    width: 100%;
}

.select-block, .input-product {
    width: 100%;
    border: 1px solid var(--color-sec);
}

.adjtable{
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
}

.content {
    padding: 30px;
}

.select-block {
    width: 50%;
    margin-left: 2px;
}

