<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User's List</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/pages/charts.css}">
    <link rel="stylesheet" th:href="@{/css/root.css}">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
<div class="row adj"></div>
<div class="row main">
    <nav class="col-2 mx-5">
        <h1>WAVE<span>TECH</span></h1>
        <ul>
            <li><button onclick="window.location.href='http://localhost:8080/Feedback'" class="btn">Feedbacks</button></li>
            <li><button onclick="window.location.href='http://localhost:8080'" class="btn">Voltar</button></li>
        </ul>
        <img th:src="@{/images/logo-wavetech.jpeg}" class="img-circle">
    </nav>
    <div class="text-center col-9">
        <div class="content content2">
            <div class="chart-box">
                <div class="container">
                    <div class="row teste">
                        <form id="typeEsgDrop" class="adjform">
                            <label for="esg">Escolha um Tipo ESG:</label>
                            <select name="esg" class="decoration" id="esg">
                                <option value="padrao">Padrão</option>
                                <option value="ambiental">Ambiental</option>
                                <option value="governanca">Governança</option>
                                <option value="social">Social</option>
                            </select>
                        </form>

                        <form id="typeChart" class="adjform2">
                            <label for="chart">Escolha um Tipo de Gráfico:</label>
                            <select name="chart" class="decoration" id="chart">
                                <option value="lineChart">Linha de Tendência</option>
                                <option value="geoChart">Gráfico Geográfico</option>
                            </select>
                        </form>
                        <div class="col">
                            <button id="button_linear" class="btn adjbtn" onclick="mudaTipoTendencia('linear')">Linear</button>
                        </div>
                        <div class="col">
                            <button  id="button_expo" class="btn adjbtn" onclick="mudaTipoTendencia('exponential')">Exponencial</button>
                        </div>
                        <div class="col">
                            <button id="button_poly" class="btn adjbtn" onclick="mudaTipoTendencia('polynomial')">Polinomial</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="modal-header">
                                <h3 class="modal-title" id="visao-geral">Visão Geral do Gráfico</h3>
                            </div>
                            <div class="modal-body">
                                <h5 class="modal-text" id="field-1"> </h5>
                                <p class="modal-text" id="field-2"><br></p>
                                <p class="modal-text" id="field-3"> <br></p>
                                <p  class="modal-text" id="field-4"> <br></p>
                                <p  class="modal-text" id="field-5"> <br></p>
                                <p class="modal-text" id="field-6"> <br></p>
                                <p class="modal-text" id="field-7"> <br></p>
                                <p class="modal-text" id="field-8"> <br></p>
                            </div>
                        </div>

                        <div class="col-6">
                            <div id="chart_div"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </div>
</div>
<div class="row adj d-flex justify-content-center">
    <footer class="py-3 my-4">
        <p class="text-center text-body-secondary">Desenvolvido pelo grupo Wavetech |
            Todos os direitos reservados a KraftHeinz |
            Insc Municipal
            123.456-7 |
            Município
            São Paulo - SP |
            R XPTO, 1234 - CENTRO | CEP: 12345-678 </p>
    </footer>
</div>
</div>
<script>
    const listaFeedbacks = '[[${listaFeedbacks}]]';
    const jsonStringFixed = listaFeedbacks.replace(/&quot;/g, '"');
    const feedbacks = JSON.parse(jsonStringFixed);

</script>
<script type="text/javascript" th:src="@{/scripts/charts.js}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>